<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:replace="_fragments/layout::meta">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description"
              content="FWD Việt Nam là công ty bảo hiểm cung cấp các sản phẩm và dịch vụ bảo hiểm chuyên nghiệp."/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    </th:block>

    <th:block th:replace="_fragments/layout::title">
        <title>FWD VN - IMPORT DATA</title>
    </th:block>

    <th:block th:replace="_fragments/layout::stylesheet">
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.css"
              th:href="@{/vendor/font-awesome/css/font-awesome.css}"/>
        <link rel="stylesheet" href="../../static/vendor/jqueryui/jquery-ui.css"
              th:href="@{/vendor/jqueryui/jquery-ui.css}"/>
        <link rel="stylesheet" href="../../static/css/style.min.css"
              th:href="@{/css/style.min.css}"/>
        <link rel="stylesheet" href="../../static/css/custom.css"
              th:href="@{/css/custom.css}"/>
    </th:block>

    <th:block th:replace="_fragments/layout::script">
        <script src="../../static/vendor/jquery/jquery.js"
                th:src="@{/vendor/jquery/jquery.js}"></script>
        <script src="../../static/vendor/jqueryui/jquery-ui.js"
                th:src="@{/vendor/jqueryui/jquery-ui.js}"></script>
    </th:block>

    <th:block>
        <script src="../../static/js/config.js" th:src="@{/js/config.js}"></script>
    </th:block>
</head>
<body style="margin-top: 45px; background-color: rgb(238, 238, 238)">
<header th:replace="_fragments/layout::header">
</header>
<div style="padding-left: 20px; padding-right: 20px;">

    <h3>Template List</h3>
    <hr/>
    <a href="detail.html" class="btn btn-primary" th:href="@{/configs/new}">
        New
    </a>
    <table class="table">
        <thead>
        <tr>
            <th class="col-sm-1">No.</th>
            <th class="col-sm-4">Template Name</th>
            <th>Description</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="config,iter : ${configs}">
            <td th:text="${iter.index + 1}">1</td>
            <td><a href="detail.html"
                   th:href="@{/configs/{id}(id=${config.id})}">
                <span th:text="${config.templateName}">template name</span>
            </a>
            </td>
            <td th:text="${config.description}">abc@domain.com</td>
            <th>
                <button type="button" class="btn btn-danger"
                        th:onclick="'remove(\'' + ${config.templateName} + '\')'">
                    Delete
                </button>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>